page-profil {
  .background{
      background-image: url('../assets/profile.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .button2{
    position: fixed;
    bottom: 20px;
    right: 15px;
  }
  .b{
    position: fixed ;
    top: 15px;
    left: 0px;
  }
  .a{
    position: fixed;
    top: 18px;
    left: 30px;
  }
  ion-searchbar{
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
}
