page-sign {
  .headers{
    background-color: #8ba2e5;
  }
  .no-scroll .scroll-content{
    overflow: hidden;
  }
  .scroll-content{
    overflow: hidden;
  }
  .background{
    background-image: url('../assets/sign.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item {
      margin-bottom: 10px;
      background: rgba(0, 0, 0, 0.5);
      border: medium none;
      position: relative;
      top: 60px;
      .label{
        color: #fff;
      }
      .text-input, {
          color: #fff;
      }

      input::-moz-placeholder {
          color: #fff!important;
      }

      input:-moz-placeholder {
          color: #fff!important;
      }

      *::-webkit-input-placeholder {
          color: #fff!important;
      }

      *:-as-input-placeholder {
          color: #fff!important;
      }

      *:-moz-placeholder {
          color: #fff!important;
      }
  }
  .button{
    background-color: #2c69ba;
    position: fixed;
    right: 1px;
    bottom: 30px;
    padding: 10px;
    color: #fff;
  }
  .button:hover{
    background-color: #164787;
  }
}
