page-sign {
  .headers{
    background-color: #8ba2e5;
  }
  .background{
    background-image: url('../assets/city.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
