page-home {
    .background{
        background-image: url('../assets/home.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .scroll-content {
        overflow: hidden;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    ion-card.card {
        position: fixed;
        bottom: 100px;
        box-shadow: none;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0px;
    }

    ion-card-header.card-header {
        color: #fff;
    }

    .list > .item-blockc:first-child{
        border: none;
    }
    .button{
      background-color: #2c69ba;
      border: none
    }
    .button:hover {
      background-color: #164787;
    }
    .button2{
      background-color: #2c69ba;
      position: fixed;
      right: 30px;
      bottom:50px;
      padding: 20px;
      width: 120px;
      height: 40px;
    }
    .button2:hover{
      background-color: #164787;
    }
    .item {
        margin-bottom: 10px;
        background: rgba(0, 0, 0, 0.5);
        border: medium none;

        .text-input, {
            color: #fff;
        }

        input::-moz-placeholder {
            color: #fff!important;
        }

        input:-moz-placeholder {
            color: #fff!important;
        }

        *::-webkit-input-placeholder {
            color: #fff!important;
        }

        *:-as-input-placeholder {
            color: #fff!important;
        }

        *:-moz-placeholder {
            color: #fff!important;
        }
    }
}
